/* Global Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Alata', sans-serif;
  margin: 0;
  background-image: url('/images/Size Calculator BG.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Form Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Form Styles */
.form {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 40px;
  width: 100%;
  max-width: 600px;
  position: relative;
  overflow: hidden;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  animation: slideIn 1s ease-in;
}

.form:hover {
  transform: translateY(-10px);
}

/* Fieldset and Legend Styles */
.form fieldset {
  position: relative;
  border: none;
  padding: 0;
  margin-bottom: 20px;
  animation: slideIn 0.5s ease-in;
  
  
}

.form legend {
  position: absolute;
  top: 5px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 5px;
  font-size: 0.875rem;
  color: #333333;
  border-radius: 5px;
  transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form .printed legend {
  top: calc(50% - 12px);
}

/* Input and Select Styles */
.form input,
.form select {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form input:focus,
.form select:focus {
  border-color: #FF2312;
  box-shadow: 0 0 0 5px rgba(255, 212, 233, 0.8);
}

/* Button Styles */
.form .button {
  background-color: rgba(255, 212, 233, 0.8);
  color: #333333;
  border: none;
  border-radius: 10px;
  padding: 12px;
  width: 520px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.form .button:hover {
  background-color: rgba(255, 182, 217, 0.8);
  transform: translateY(-4px);
  backdrop-filter: brightness(1.1);
}

/* Error Message Styles */
.form .error {
  color: red;
  margin-top: 5px;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.form .error:hover {
  color: red;
  transform: scale(1.1);
}

/* Text Styles */
.text-center {
  text-align: center;
}

.text-gray-800 {
  color: #333333;
}

.text-gray-700 {
  color: #555555;
}

.text-3xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: color 0.3s ease-in-out;
}

.text-xl {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: color 0.3s ease-in-out;
}

/* Keyframe Animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}